# Commons
**/*.exe
**/*.bak

# Rust
**/debug/
**/target/
**/Cargo.lock

# Elm
**/elm-stuff/
**/dist/
**/build/
**/.elm-land/

# Python
**/.venv/
**/__pycache__/
**/poetry.lock
**/.ipynb_checkpoints/
**/dist/*.tar.gz
**/dist/*.whl

# Nodejs
**/node_modules/
**/package-lock.json

# mdbook
notes/**/book
# notes/**/src/SUMMARY.md

# Sqlite
**/*.sqlite*
